<h2>Recipe Ingredients</h2>
<!-- Display recipe ingredients in table -->
<div class="ingredients">
  <table class="darkText" id="recipe_ingredients_table">
    <%= render 'recipes/tableheader' %>
    <%= render @recipe.recipe_ingredients %>
  </table>
    <div id="add_ingredient_form"></div>
    <!-- Provide link to add ingredient if user is owner of recipe -->
    
    <div id="AddIngredientButton">
      <%= link_to 'Add Ingredient', new_recipe_ingredient_path, remote: true,
        class: "button trans center buttonBoxBigger buttonText" if current_user?(@recipe.user) %>
    </div>
</div>