<% provide(:title, @page_title) %>
<!-- Displays All recipes -->
<div class="content mHide">
  <span style="display: block; -webkit-animation-duration: 2.5s;" class="fadeInDown animated">
    <span style="display: block; -webkit-animation-duration: 2.5s;" class="zoomIn animated">
      <h2 class="bigText wordsTransLighten">All Recipes  </h2>
    </span>
  </span>
  <span style="display: block; -webkit-animation-duration: 2s;" class="fadeInLeft animated">
    <%= link_to 'Add Recipe', new_recipe_path, class: "button blue4 center buttonBoxBig buttonText" if logged_in? %>
  </span>
</div>
<div class="centerRecipe mHide">
<%= render @recipes %>
</div>