<!-- Displays a single users information.  Username links to recipes -->

<td><%= link_to user.username, user %></td>
<td><%= user.email %></td>
    <% if admin  && !user.admin? %>
    <td><%= link_to "delete", user, method: :delete,
    data: { confirm: "Are you sure" } %>
    <% end %></td>