//CSS written by Alex Tappin
//Desktop version

//Color variables
$White:       #FFFFFF;
$LighterGray: #EAEAEA;
$LightGray:   #CACACA;
$Gray:        #A6A6A6;
$Black:       #000000;
$Red:         #E0645C;
$Dark:        #444444;
$Light:       #999999;
$Blue:        #2DB6CF;
$Green:       #46b98a;

@media all and (min-width: 1024px) {

.inputs {
    border-radius: 5px;
    background-color: $LighterGray;
    background:gradient(linear, left top, left bottom, color-stop(0.0, $White), color-stop(1.0, $LighterGray));
    border: 1px solid $LightGray;
    color: $Black;
    font-size: 1em;
    font-family:arial;
    font-weight:bold;
    margin: 0 0 25px;
    padding: 5px 9px;
    width: 260px;
    
    &:focus {
      background: $White;
      box-shadow: 0 0 25px #222;
      transform: scale(1.05);
    }
}

.left {
    text-align: left;
    padding-left: 15%;
    color: $White;
    font-size: 1.2em;
    }
    
.right {
    padding-left: 50%;
    color: $Gray;
}

ul#navTop li {
    padding-right: 25px;
    color: $Gray;
    display:inline;
}

a {
    color: $Black;
    text-decoration:none; 
}

.darkText {
    color: $Black;
}
.forgotPw{
    padding-left: 15px;
}

.content {
    padding-bottom: 5px;
    border-radius: 5px;
    color: $White;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20%;
    font-size: 1.2em;
    background-color: rgba(10, 10, 10, .2);
}

//***********New Form Boxes******************
.group {
    position: relative;
    margin-bottom: 45px;
}
input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 285px;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    
    &:focus{
      outline: none;
    }
}

/* LABEL ======================================= */
label {
    color: rgba(0, 0, 0, .9);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}
/* active state */

input:focus ~ label,
input:valid ~ label {
    left: -10px;
    top: -25px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
    
  &:before,
  &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: rgba(255, 255, 255, .8);
      transition: 0.2s ease all;
  }
  &:before {
      left: 50%;
  }
  &:after {
      right: 50%;
  }
}
/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 75px;
    top: 25%;
    left: 5px;
    pointer-events: none;
    opacity: 0.6;
}
/* active state */
input:focus ~ .highlight {
    //-webkit-animation: inputHighlighter 0.3s ease;
    //-moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
    from {
        background: rgba(255, 255, 255, 1);
    }
    to {
        width: 0;
        background: transparent;
    }
}

//*****NewButtonClass With Color Variables
.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: $White;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  &.red {
    background: none repeat scroll 0 0 $Red;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Light;
      color: $White;
    }
  }
  &.red2 {
    background: none repeat scroll 0 0 $Red;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Dark;
      color: $White;
    }
  }
  &.red3 {
    background: none repeat scroll 0 0 $Red;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Blue;
      color: $White;
    }
  }
  &.red4 {
      background: none repeat scroll 0 0 $Red;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Green;
      color: $White;
    }
  }
  &.dark {
    background: none repeat scroll 0 0 $Dark;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Blue;
      color: $White;
    }
  }
  &.dark2 {
    background: none repeat scroll 0 0 $Dark;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Red;
      color: $White;
    }
  }
  &.dark3 {
    background: none repeat scroll 0 0 $Dark;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Green;
      color: $White;
    }
  }
  &.light {
    background: none repeat scroll 0 0 $Light;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Dark;
      color: $White;
    }
  }
  &.light2 {
    background: none repeat scroll 0 0 $Light;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Blue;
      color: $White;
    }
  }
  &.light3 {
    background: none repeat scroll 0 0 $Light;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Green;
      color: $White;
    }
  }
  &.green {
    background: none repeat scroll 0 0 $Green;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Dark;
      color: $White;
    }
  }
  &.green2 {
    background: none repeat scroll 0 0 $Green;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Light;
      color: $White;
    }
  }
  &.green3 {
    background: none repeat scroll 0 0 $Green;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Red;
      color: $White;
    }
  }
  &.blue {
    background: none repeat scroll 0 0 $Blue;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Dark;
      color: $White;
    }
  }
  &.blue2 {
    background: none repeat scroll 0 0 $Blue;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Light;
      color: $White;
    }
  }
  &.blue3 {
    background: none repeat scroll 0 0 $Blue;
    color: $White;
    &:hover {
      background: none repeat scroll 0 0 $Red;
      color: $White;
    }
  }
}


//********JAVASCRIPT ERRORS RE-VISIT
.error {
    padding-top: 20px;
    color: $Black;
}
.error_show {
    position: relative;
    font-size: .8em;
    color: $Dark;
    z-index: 100;
}

//*******AutoFill Color*****
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba($Light, .4) inset;
}
}