//CSS written by Casey Schurman
//Desktop version

//Color variables
$White: 		#FFFFFF;
$CharBlack: 	#2f2f2f;
$GrayWhite:     #f5f5f5;
$DarkGray:      #464646;
$Gray:          #808080;
$DarkCharBlack: #262626;
$LiteOrangeTan: #d29f55;
$Dark:          #444444;
$Light:         #999999;
$Black:         #000000;

@media all and (min-width: 1024px) {
	
html {
    //position: relative;
    height:100%;
}

body {
    height: 100%;
    background-size: 100%;
    background-image: url("KitchenCat3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    margin: auto;
    //font-family: Georgia, "Times New Roman", Times, serif;
    //font-family: "Times New Roman", Times, serif;
    //font-family: Impact, Charcoal, sans-serif;
    //font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    //font-family: Tahoma, Geneva, sans-serif;
    //font-family: Century Gothic, sans-serif;
    //font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    //font-family: ‘Arial Black’, Gadget, sans-serif;
    //font-family: ‘Arial Narrow’, sans-serif;
    //font-family: Verdana, Geneva, sans-serif;
    //GoodOnefont-family: Copperplate / Copperplate Gothic Light, sans-serif;
    //font-family: ‘Lucida Console’, Monaco, monospace;
    //font-family: Gill Sans / Gill Sans MT, sans-serif;
    //font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    //font-family: ‘Courier New’, Courier, monospace;
    //font-family: Arial, Helvetica, sans-serif;
    //font-family: Georgia, Serif;
    font-family: "open sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
#mHomePage {
	visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}
.header {
    text-align: left;
    opacity: .88;
    letter-spacing: -2px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    //background-color: rgba(100,100,100,.75);
    color: $Dark;
    font-size: 200%;
    height: 75px;
    font-weight: 800;
}


//New Footer That Sticks
.footer {
	position: static;
    bottom:0;
    width:100%;
    height: 3.2em;
    background-color: rgba(50,50,50,.9);
    color: $White;
    opacity: .98;
    text-align: center;
    letter-spacing: 1px;
    padding-top: .8cm;
    clear:both;
}

.footerOnBottom {
}

.footerLeft {
    font-size:.8em;
    color: $CharBlack;
}

.footerRight {
    font-size:1em;
    color: $White;
    padding-left:80%;
}

.formClass {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 20%;
    padding-bottom: 20%;
}

//Header Link Styling
.headerLinks {
    float: right;
	display: inline;
	margin: 15px 8px;
	margin-right: 2%;
	outline: none;
	color: $Dark;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 37%;
	padding-top: 5px;
	transition: all 0.3s ease 0s;
	box-shadow: 0 6px 4px -6px #000;
	&:hover {
		transition: all 0.3s ease 0s;
		box-shadow: 0 2px 1px -2px #FFF;
	}
	&:before,
	&:after {
		display: inline-block;
		opacity: 0;
		transition: transform 0.3s, opacity 0.2s;
	}
	
	&:before {
		margin-right: 10px;
		content: '[';
		transform: translateX(20px);
	}
	
	&:after {
		margin-left: 10px;
		content: ']';
		transform: translateX(-20px);
	}
	
	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		color: $Dark;
		opacity: 1;
		transform: translateX(0px);
	}
}

//Settings Link Styling
//.settingsLink {
//    
//}


//Footers Link Styling
.footerLinks{
    padding: 10px;
	color: $White;
	font-weight: 700;
	text-shadow: none;
	transition: color 0.5s;
	text-align: center;

	&:before, 
	&:after{
	    position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: $White;
		content: '';
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		//transform: translateY(-10px);
	}

	/*&:before{
	  	top: 0;
		transform: translateY(-10px);
	}

	&:after{
	    bottom: 0;
		transform: translateY(10px);
	}*/

	&:hover,
	&:focus{
	    color: $Light;
	}

	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		opacity: 1;
		transform: translateY(0px);
	}
}

.roundButton {     
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid $GrayWhite;
    border-radius: 50%;
    color:$GrayWhite;
    text-align:center;
    text-decoration:none;
    background: $DarkGray;
    box-shadow: 0 0 3px $Gray;
    font-size:20px;
    font-weight:bold;

	&:hover {
    background: $DarkCharBlack;
	}
}

.headerTitleLink {
    //color: $White;
}

.headerTitleLink span {
    height: 1em;
	//position: relative;
	//display: inline-block;
	//transition: transform 0.3s;
}

.headerTitleLink span:before {
	//position: absolute;
	//top: 100%;
	//content: attr(data-hover);
	font-weight: 700;
	//transform: translate3d(0,0,0);
}

.headerTitleLink:hover span,
.headerTitleLink:focus span{
	//transform: translateY(-100%);
}
}