//CSS written by Alex Tappin
//Mobile version

//Color variables
$White:       #FFFFFF;
$LighterGray: #EAEAEA;
$LightGray:   #CACACA;
$Gray:        #A6A6A6;
$Black:       #000000;
$Red:         #E0645C;
$Dark:        #444444;
$Light:       #999999;
$Blue:        #2DB6CF;
$Green:       #46b98a;

@media all and (max-width: 1023px) {


}