<!-- Footer information for pages -->
<div class="footer footerOnBottom">
  <%= link_to 'Help', help_path, class: "footerLinks" %>
  <%= link_to 'About', about_path, class: "footerLinks" %>
  <%= link_to '©CookingWithEngineers', root_path, class: "footerLinks" %>
</div>