<!-- Main header in body of page -->
<div class="header">
    <%= link_to 'Cooking With Engineers', root_path, class: "headerTitleLink" %>
  <!--  Show user links -->
  <%= render 'layouts/links' %>
</div>