<!-- Main header in body of page -->
<script type="text/javascript" src="app/assets/javascripts/select_search.js"></script>
<div>
    <div class="header">
        <!--%= link_to 'Cooking With Engineers', root_path, id: "topText" %-->
        <!--%= image_tag("LogoGray.png", height: '50', width: '65', class: "smallLogo") %-->
        <%= link_to(image_tag("LogoGray.png", height: '62', width: '82', class: "smallLogo mHide"),root_path) %>
      <!--  Show user links -->
      <%= render 'layouts/links' %>
    </div>
</div>